@import "tailwindcss";

@theme {
  --color-background: #0d0c1d;
  --color-foreground: #ffffff;
  --color-primary: #7c3aed;
  --color-secondary: #1a192f;
  --color-accent: #f43f5e;

  --background-image-gradient-cinematic: linear-gradient(to bottom, rgba(13, 12, 29, 0) 0%, rgba(13, 12, 29, 0.8) 70%, #0d0c1d 100%);
}

:root {
  --background: #0d0c1d;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .glassmorphism {
    @apply bg-black/40 backdrop-blur-md border-b border-white/10;
  }
}
